In [1]:
## Q1
r = 7
area_circle = 3.14*r*r
print(area_circle)

153.86

In [2]:
## Q2
print(2*3+4) ## first multication happens then addition hence answer 10

10

In [3]:
## Q3
a = 8/2
b = 3+2
print(a*b) ## a gives answer 4 and b gives 5 hence multiplication gives 20

20.0

In [4]:
## Q4
print(15%4) ## % is Mod where it gives you remainder of the two numbers when divided

3

In [5]:
## Q5
F = 100
a = (F-32)
b = 5/9
C = a*b ## Combining Variables a and b it follows the given formula. Hence combining the two gives the answer
print(C)

37.77777777777778

In [6]:
## Q6
## 10 // 3 + 2 ** 3
print(10//3+2**3) ## It follows the BODMAS rule first division, then exponent and then in final addition hence answer 11

11

In [8]:
## Q7  5 == 5 and 4 < 6
## The result will print true because as we use 'and' operator both the conditions need to be satisfied.
## And if one the condition is not satisfying then it shifts to the next condition or print false.

## Hence it will print True in this condition.

In [9]:
## Q8  not (4 > 5 or 3 == 3)

##The or operator evaluates to True if at least one of the conditions is True. So, 4 > 5 or 3 == 3 is True

##The not operator negates the result. Since (4 > 5 or 3 == 3) is True, applying not makes the entire expression False.

In [11]:
## Q9
x = 4
if x%2 == 0:  ## Which checks whether the number is even or not.
    print("The number is Even and not odd")
else:
    print("The number is Odd")

The number is Even and not odd

## Data Types

In [12]:
## Q10
a = 5.0
print(type(a)) ## type tells us the data type of the element

<class 'float'>

In [16]:
## Q11
a = 42
print(type(a))
print(str(a))
a = str(42) ## This converts the integer to string
print(type(a))

<class 'int'>
42
<class 'str'>

In [17]:
## Q12
## str(3.14) + ' is pi'
print(str(3.14)+'is pi') ## as both the elemnts are string it will just combine the two elements##

3.14is pi

In [18]:
## Q13
a = 4
b = 3.5
c = a+b
print(c)
print(type(c)) ## Since b is float and a is not 4 is indirectly 4.0 hence if one the number is float the output will also be float

7.5
<class 'float'>

In [70]:
## Q14
user_input = input("Enter a number: ")
number = int(user_input)
print("The integer value is:", number)

Enter a number: 34
The integer value is: 34

In [20]:
## Q15

a = 'hghg'
b = 56
c = 34.4
print(type(a))
print(type(b)) 
print(type(c))  ## Using type we find the datatype of any variable

<class 'str'>
<class 'int'>
<class 'float'>

In [21]:
## Q16
my_name = 'Aryan'
print(type(my_name)) ## You need to write a string in Single or double cots

<class 'str'>

## Data Structures - Lists, Tuples, Sets, and Dictionaries

In [22]:
## Q17
a = []
print(a) ## We can create empty list using square brackets []

[]

In [24]:
## Q18
a = [1, 2, 3]
print(a)
a.append(42)
print(a)      ## Using append function we can add new elemnts which fills at the end of the list

[1, 2, 3]
[1, 2, 3, 42]

In [25]:
## Q19
my_list = [10, 20, 30, 40]

print(my_list[2])   ## We access it through indexex at which the element is located

30

In [26]:
## Q20

## List is a mutable data type while Tuple is an immutable data type

In [30]:
## Q21
set = {1, 2, 3}
print(set)      ## We need to use curly braces {} to write set

{1, 2, 3}

In [31]:
## Q22

my_set = {1, 2, 3}
my_set.remove(2)
print(my_set)    ## We need to specify the element that should be removed

{1, 3}

In [32]:
## Q23

person = {'name': 'Alice', 'age': 25}

print(person['name'])     ## We need to write the key in square brackets of the the particular element

Alice

In [34]:
## Q24

my_dict = {'City1': 'Pune', 'City2': 'Mumbai', 'City3': 'Banglore'}

del my_dict['City2']

print(my_dict)   ## We can use del keyword for it

{'City1': 'Pune', 'City3': 'Banglore'}

In [35]:
## Q25

my_tuple = (5, 10, 15)

print(my_tuple[1])  ## We need to specify the index of the particular element in square brackets

10

## Methods of Data Structures

In [36]:
## Q26

numbers = [1, 2, 3, 4, 5]
print(len(numbers))       ## By usinfg len() function we find the length of the list

5

In [43]:
## Q27

list1 = [1, 2, 3, 4, 5]
list1.insert(2, 8)       ## Use insert method and 2 indicates the position of index and 8 is the element
print(list1)   #Hence the Output [1, 2, 8, 3, 4, 5]

[1, 2, 8, 3, 4, 5]

In [38]:
## Q28

list1 = [4, 1, 3, 2]

list1.sort()   ## using sort function we sort the elements in a list

print(list1)

[1, 2, 3, 4]

In [46]:
## Q29
my_list = [1, 2, 3, 4, 5]

print(5 in my_list)  ## Checks whether 5 is in the list
                     ## Output: True

True

In [45]:
## Q30

list1 = [1, 2, 3]
list2 = [4, 5, 6]

list1.extend(list2)  ## We use extend method to combine two lists
print(result)

[1, 2, 3, 4, 5, 6]

## Branching

In [50]:
## Q31, Q32, Q33

x = 30
if x<0:
    print("The number is Negative")
elif x>0:
    print("The number is Positive")
else:
    print("Error")

The number is Positive

In [51]:
## Q34

result = 10 if x > 5 else 5

In [59]:
## Q35

x = int(input("Enter a marks: "))

if x>=90:
    print("Grade: A")
elif x>70 or x>80:
    print("Grade B")
elif x == 35:
    print("Grade P")
elif x>35:
    print("Grade C")
else:
    print("Fail")

Enter a marks: 95
Grade: A

In [58]:
## Q36

fruits = ['apple', 'banana', 'cherry'] 

print('banana' in fruits)

True

In [63]:
## Q37

age = 23
gender = 'male'

if age > 18:
    if gender == 'male':
        print('Adult Male')

Adult Male

In [65]:
## Q38

x = int(input("Enter a number: "))   ## Takes input from user

if x%3 == 0 and x%5 == 0:       ## Checks whether the number is dicvisible by both first
    print("The number is divisible by both 3 and 5")
elif x%3 == 0:                  ## Checks whether divisible by 3
    print("The number is divisible by 3")
elif x%5 == 0:                  ## Checks whether divisible by 5
    print("The number is divisible by 5")
else:
    print("The number is not divisible by 3 or 5")

Enter a number: 45
The number is divisible by both 3 and 5

In [68]:
## Q39

name = ['Aryan']
if name:         ## Checks if name is not empty
    print('Name is provided')
else:
    print("List Empty")

Name is provided

In [69]:
## Q40

age = int(input("Enter age: "))  ##Takes User input
if 18 <= age <= 25:              ## Checks whether the range is in the given range
    print("Age is within the range 18 to 25")
else:
    print("Age is not in the given range 18 to 25")

Enter age: 23
Age is within the range 18 to 25