## Python_Test_2

In [1]:
## Q1

## if-- It is used to start a conditional statement to check if a certain condition is true.
## elif--  Stands for "else if" and is used to check multiple conditions in an if statement.
## else-- Used in conjunction with if to define what should happen when the condition in the if statement is not true.
## for-- Used to iterate over a sequence (like a list, tuple, or string).
## while-- Used to start a loop that repeats as long as a condition is true.

In [2]:
## Q2

length = 5
width = 10
area_rec = length * width
print(area_rec)

50

In [3]:
## Q3
a = [1, 2, 3, 4,5]
b = a  # b points to the same list object as a

if a is b:
    print("a and b point to the same object.")
else:
    print("a and b point to different objects.")

a and b point to the same object.

In [4]:
## Q4
a = (6 + 2) * 4 - 10 / 5
print(a)

30.0

In [5]:
## Q5
print(10%3)  ## % is a modulus operator which returns a remainder when it is divided by a number

1

## Data Types

In [6]:
## Q6

print(type(3.14))

<class 'float'>

In [8]:
## Q7

int_val = 10

# Convert to float
flt_val = float(int_val)

# Convert to string
str_val = str(int_val)

# Print the results
print("Float:", flt_val)
print("String:", str_val)

Float: 10.0
String: 10

In [12]:
## Q8

a = 'Hi'
b = 'My name is Aryan'

print(a +'! '+ b)

Hi! My name is Aryan

In [14]:
## Q9

print(type('3>2'))

<class 'str'>

In [15]:
## Q10

a = '123'
b = int(a)  ## Convert to an integer
print(type(b))

<class 'int'>

## Data Structure

In [16]:
## Q11

a = [1, 2, 3, 4, 5]
print(a[2])    ## printing the third element by its index value

3

In [17]:
## Q12

my_list = [1, 2, 3, 4, 5]
my_list.append(23)    ## adding new element
print(my_list)

[1, 2, 3, 4, 5, 23]

In [18]:
## Q13

my_list = [1, 2, 3, 4, 5]
my_list.pop()    ## removing the element
print(my_list)

[1, 2, 3, 4]

In [20]:
## Q14

a = (1, 2, 3, 4)
a[2] = 23 ## Trying to change the element in tuple which gives an error
print(a)

TypeError: 'tuple' object does not support item assignment

In [24]:
## Q15

list = [10, 20, 30, 40, 50]
print(list[3:5])      ## Index slicing the terms to print last two elements

[40, 50]

In [30]:
## Q16

dict = {'Name':'Alice', 'Age':25}
print(dict)

{'Name': 'Alice', 'Age': 25}

In [31]:
## Q17

name_value = dict['Name']
print(name_value)

Alice

In [34]:
## Q18

if 'Name' in dict:
    print("True")
else:
    print("False")

True

In [35]:
## Q19

## List: Ordered, allows duplicates, and can contain any type of elements.
## Set: Unordered, does not allow duplicates, and is optimized for membership testing.

In [36]:
## Q20

list = [1, 2, 3, 2, 1]

a = set(list)

print(a)     ## As you can see it does not allow duplicates hence it does not repeat the numbers 1 and 2

{1, 2, 3}

## Branching if-else statement

In [37]:
## Q21

a = 12
if a>10:
    print("Greater than 10")

Greater than 10

In [38]:
## Q22

a = -23

if a>0:
    print("Number is Positive")
else:
    print("Number is Negative")

Number is Negative

In [39]:
## Q23

a = 0
if a>0:
    print("Number is Positive")
elif a<0:
    print("Number is Negative")
else:
    print("Number is Zero")

Number is Zero

In [40]:
## Q24

a = int(input())

if a%2==0:
    print("Even")
else:
    print("Odd")

23
Odd

In [1]:
## Q25

# Take input from the user
year = int(input("Enter a year: "))

# Check if the year is a leap year
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year.")
elif year % 4 != 0:
    print(f"{year} is not a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year: 1345
1345 is not a leap year.

In [2]:
## Q26

# Take input from the user
number = int(input("Enter a number: "))

# Check if the number is positive
if number > 0:
    # Nested if to check if the number is even
    if number % 2 == 0:
        print(number," is positive and even.")
    else:
        print(number, "is positive but not even.")
else:
    print(number, "is not positive.")

Enter a number: 23
23 is positive but not even.

In [3]:
## Q27

a = 3

if 5>a<10:
    print("True")
else:
    print("False")

True

In [4]:
## Q28

# Example variable
variable = 10.5

# Check if the variable is of type float
if isinstance(variable, float):
    print("The variable is of type float.")
elif isinstance(variable, int):
    print("The variable is of type int.")
elif isinstance(variable, str):
    print("The variable is of type str.")
else:
    print("The variable is of an unknown type.")

The variable is of type float.

In [5]:
## Q29

grade = int(input("Enter the student's grade: "))

if grade >= 60:
    print("Pass")
else:
    print("Fail")

Enter the student's grade: 78
Pass

In [6]:
## Q30

variable = ""

# Check if the variable is empty
if not variable:
    print("The variable is empty.")

The variable is empty.

## Range and For Loop

In [9]:
## Q31

for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [11]:
## Q32

i = 0
for number in range(1, 21):
    i+=number
    print(i)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210

In [12]:
## Q33

names = ["Alice", "Bob", "Charlie", "Diana"]

for name in names:
    print(name)

Alice
Bob
Charlie
Diana

In [13]:
## Q34

for number in range(1, 11):
    sqr = number**2
    print("Square of the", number, "is", sqr)

Square of the 1 is 1
Square of the 2 is 4
Square of the 3 is 9
Square of the 4 is 16
Square of the 5 is 25
Square of the 6 is 36
Square of the 7 is 49
Square of the 8 is 64
Square of the 9 is 81
Square of the 10 is 100

In [14]:
## Q35

for i in range(2, 21, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [15]:
## Q36

for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [19]:
## Q37

fruits = ['Apple', 'Mango', 'Banana', 'Orange', 'Cherry']

for fruit in fruits: 
    print(fruit.upper())

APPLE
MANGO
BANANA
ORANGE
CHERRY

In [20]:
## Q38

fruits = ["Apple", "Mango", "Banana", "Orange", "Cherry"]

for index, fruit in enumerate(fruits):
    print(f"Index {index}: {fruit}")

Index 0: Apple
Index 1: Mango
Index 2: Banana
Index 3: Orange
Index 4: Cherry

In [21]:
## Q39

for i in range(0, 31, 3):
    print(i)

0
3
6
9
12
15
18
21
24
27
30

In [30]:
## Q40

number = int(input("Enter a number: "))

fact = 1     ## Initialize factorial to 1
for i in range(1, number+1):
    fact*=i
    print("Factorial of", number, "is", fact)

Enter a number: 6
Factorial of 6 is 1
Factorial of 6 is 2
Factorial of 6 is 6
Factorial of 6 is 24
Factorial of 6 is 120
Factorial of 6 is 720

## While loop

In [33]:
## Q41
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [34]:
## Q42

password = ""        ## First take an emty variable

while password != "1234":     ## Condition
    password = input("Enter the password: ")

print("Access granted!")      ## Output

Enter the password: 123
Enter the password: 123
Enter the password: 8659
Enter the password: 1234
Access granted!

In [37]:
## Q43

# Initialize variables
sum_total = 0  # This will store the sum of numbers
i = 1          # Starting number

# Loop until i exceeds 100
while i <= 100:
    sum_total += i  # Add the current value of i to sum_total
    i += 1          # Increment i by 1

# Print the result
print("The sum of numbers from 1 to 100 is:", sum_total)

The sum of numbers from 1 to 100 is: 5050

In [7]:
## Q44, Q48

num = 10
while num>=1:
    print(num)
    num-=1

10
9
8
7
6
5
4
3
2
1

In [6]:
## Q45

num = 2
while num<=20:
    print(num)
    num+=2

2
4
6
8
10
12
14
16
18
20

In [2]:
## Q46

num = 1
while num <= 100:
    print(num)
    num+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [3]:
## Q47

my_list = [1, 2, 3, 4 , 5]

while my_list:
    my_list.pop()
    print(my_list)

[1, 2, 3, 4]
[1, 2, 3]
[1, 2]
[1]
[]

In [4]:
## Q49

num = 5
count = 1

while count <= 10:
    print(num*count)
    count+=1

5
10
15
20
25
30
35
40
45
50

In [9]:
## Q50

fib_list = []    ## Initialize the list
a, b = 0, 1      ## First two fibonacci numbers in sequence
count = 0        ## Initializing a counter

while count<10:
    fib_list.append(a)    ## Add the current fibonacci number to the list
    a, b = b, a+b       ## Update a and b to the next two number in the sequence
    count+=1
    print(fib_list)

[0]
[0, 1]
[0, 1, 1]
[0, 1, 1, 2]
[0, 1, 1, 2, 3]
[0, 1, 1, 2, 3, 5]
[0, 1, 1, 2, 3, 5, 8]
[0, 1, 1, 2, 3, 5, 8, 13]
[0, 1, 1, 2, 3, 5, 8, 13, 21]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]