## Name- Aryan Kulkarni

In [1]:
## range function in python and its operations

In [2]:
## For Example:

print(range(15)) ## This will print the range from where to where thw numbers will be included

range(0, 15)

In [3]:
print(list(range(15)))
## Here the number 15 is not printed because we want range till 15 hence the number 15 will not be printed

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [4]:
print(list(range(5, 100, 5)))
## Similarly we also learned to print the lists from particular range. In this we wrote that we want numbers from range 5 to 100 
## And that to with the step size of 5

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [11]:
candidates=list(range(10,40,1))
candidates
## Similary we also learned to store range values in a variable in  a list form

[10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39]

In [12]:
## We also learned to print reverse the range

In [13]:
reverse = list(range(200, 10, -10)) ## Here -10 indicates that the number should be printed in reverse order with step size of 10
reverse

[200,
 190,
 180,
 170,
 160,
 150,
 140,
 130,
 120,
 110,
 100,
 90,
 80,
 70,
 60,
 50,
 40,
 30,
 20]

In [14]:
## the next thing we learned is Loops for loop

In [15]:
places = ["Pune", "Banglore", "Mumbai", "Chennai", "Hyderabad"]
places

['Pune', 'Banglore', 'Mumbai', 'Chennai', 'Hyderabad']

In [16]:
for cities in places:
    print(cities)

Pune
Banglore
Mumbai
Chennai
Hyderabad

In [20]:
for i in range(1, 10):
    print()
    for j in range(i):
        print("*",end = ' ')

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [24]:
for i in range(5):
    print()
    for j in range(5):
        print("*", end= ' ')

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [1]:
for num in range(3, 8):                ## Range of numbers
    print("Multiplication table for",num)
    for i in range(1,6):              ## Till where you want to multiply
        print(num*i)
        if i ==5:
            print( "\n" )            ## Shifts to next line. Thats why every new table prints next line

Multiplication table for 3
3
6
9
12
15


Multiplication table for 4
4
8
12
16
20


Multiplication table for 5
5
10
15
20
25


Multiplication table for 6
6
12
18
24
30


Multiplication table for 7
7
14
21
28
35

In [2]:
## While Loops

In [4]:
i=0
while i<=10:
    print(i)
    i=i+2

0
2
4
6
8
10

In [5]:
num = 5          ## Number at which you are going to start
count = 1        ## Stores the value 1

while count <= 10:      ## Condition
    print(num*count)     
    count+=1            ##Increments count by 1 and then multiplies with 5 and gives us the result

5
10
15
20
25
30
35
40
45
50

In [6]:
## Break and Continue Statement

In [7]:
a = [1, 2, 3, 4, 5]

In [10]:
for number in a:
    if number==4:
        break         ## This statement breaks when the element is 4 and ends the loop
    print(number)

1
2
3

In [11]:
for number in a:
    if number==4:
        continue     ## Continue passes the number and prints elements that are written further
    print(number)

1
2
3
5

In [12]:
Name = ['Bob','George','Alice','Smith']
Age = [21,32,34,45]

Data = list(zip(Name, Age))   ##Zips two list as shown

In [13]:
Data

[('Bob', 21), ('George', 32), ('Alice', 34), ('Smith', 45)]

In [21]:
Name, Age = list(zip(*Data))   ##* Unzips the data
Name

('Bob', 'George', 'Alice', 'Smith')

In [22]:
Age

(21, 32, 34, 45)

In [23]:
for i in enumerate(Name):      ## Enumerates or writes index of each element
    print(i)

(0, 'Bob')
(1, 'George')
(2, 'Alice')
(3, 'Smith')