<a href="https://colab.research.google.com/github/Arkul2023/Meta-Scifor-Technologies/blob/main/Arkul2023/Meta-Scifor-Technologies/Python%20Test%20(SOLVED)/Python_Coding_Exercise_(Solved).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
## Python Coding Exercises

In [2]:
##Q1

a = 5+3*2   ## Calculating the expression
print(a)

11

In [3]:
## Q2

print(2**3+5)  ## Directly evaluating and printing the result of the expression

13

In [4]:
## Q3

result = (10-3)*(2+4)
print(result)

42

In [5]:
## Q4

print(15//4)

3

In [7]:
## Q5

print(15%4)   ## Modulus operator prints the remainder when 15 is divided by 4

3

In [10]:
## Q6

x = 42          ## Variable assigned
print(type(x))  ## type() prints the type of the variable

<class 'int'>

In [11]:
## Q7

fruits = ['apple','banana','cherry']
print(type(fruits))

<class 'list'>

In [12]:
## Q8

is_active = True
print(type(is_active))

<class 'bool'>

In [13]:
## Q9

price = 3.14
print(type(price))

<class 'float'>

In [15]:
## Q10

string = "Hello World"
print(type(string))

<class 'str'>

In [16]:
## Q11

fruits = ['Guava','Grapes','Kiwi']    ## Created a list of fruits
print(fruits)                         ## printed the fruits assigned in the list fruits

['Guava', 'Grapes', 'Kiwi']

In [22]:
## Q12

tup = ('apple','banana','cherry')
list1 = list(tup)       ## Changing tuple to list

list1[0] = 'orange'    ## Changing the elements in the list. Changing first element
list1[1] = 'guava'     ## Changing second element
list1[2] = 'kiwi'      ## Changing the third element

print("Modified list: ",list1)    ## Printing new modified list as per the question

Modified list:  ['orange', 'guava', 'kiwi']

In [25]:
## Q13

my_list = [10, 20, 30]

print(my_list[0])    ## Index starts from 0. Hence the first element is 10

10

In [26]:
## Q14

my_list = [10, 20, 30]
print(len(my_list))    ## len() prints the length/size of the variable

3

In [27]:
 ## Q15

my_list = [10, 20, 30]

my_list.append(40)    ## append() function adds elements in the list

print(my_list)

[10, 20, 30, 40]

In [31]:
## Q16

for i in range(1, 6):   ## Assigning the range starting from 1 to 5
  print(i)              ## Printing the numbers
  i+=1                  ## Increments number by 1

1
2
3
4
5

In [32]:
## Q17

for i in range(3, 6):   ## Assigning the range starting from 3 to 5
  print(i)              ## Printing the numbers
  i+=1                  ## Increments number by 1

3
4
5

In [34]:
## Q18

fruits = ['apple','banana','cherry']     ## Defining the list
for fruit in fruits:                     ## Iterating over the list using for loop
  print(fruit)

apple
banana
cherry

In [39]:
## Q19

for num in range(1, 5):
  print(num**2)       ## Prints square of each number from 1 to 5

1
4
9
16

In [42]:
## Q20

for i in range(5):
  print(i*2)

0
2
4
6
8

In [44]:
##Q21

i = 1        ## Stores the number from where we want to start
while i<=5:  ## Iterate over while loop
  print(i)   ## printing the numbers
  i+=1       ## Increments the stored number till it meets the end result

1
2
3
4
5

In [45]:
## Q22

i = 0
while i<=3:
  print(i)
  i+=1

0
1
2
3

In [47]:
## Q23

i = 1
total = 0     ## Initializing the variables
while i<=10:  ## Loop to calculate sum
  total+=i    ## Add the current number to the total
  i+=1        ## Increment the number
print(total)  ## Printing the total

55

In [49]:
## Q24
## Initializing the variables
i = 1
result = 1
## while lop for calculating the product
while i<=4:
  result*=i     ## Multiplying current number to the result
  i+=1          ## Incrementing the number
print(result)   ## Printing the result

24

In [50]:
## Q25

i = 10         ## From where we are going to start the decrement
while i>=1:
  print(i)
  i-=1         ## Decrementing the element

10
9
8
7
6
5
4
3
2
1

In [51]:
## Q26

a = int(input())       ## Taking the user input

if a>0:
  print("Positive")
elif a<0:
  print("Negative")
else:
  print("Zero")

2
Positive

In [52]:
## Q27

a = int(input())

if a%2==0:
  print("Even")
else:
  print("Odd")

4
Even

In [53]:
## Q28

a = int(input())

if a>10:
  print("Greater")
else:
  print("Smaller")

7
Smaller

In [55]:
## Q29

score = int(input())

if 100>score>90:
  print("A")
elif 89>score>70:
  print("B")
elif 69>score>50:
  print("C")
elif 49>score>0:
  print("D")

45
D

In [56]:
## Q30

num = int(input())

if num%5==0:
  print("Divisible")
else:
  print("Not Divisible")

55
Divisible

In [58]:
## Q31

def add_numbers(a, b):     ## Defining the function
    return a + b           ## Returning the sum of the numbers

result = add_numbers(5, 3)   ## Calling the function
print(result)                ## Printing the result

8

In [60]:
## Q32

def reverse_string(input_string):    ## Defining the function
    return input_string[::-1]        ## Reversing the string

input_str = "Hello, World!"          ##input string
reversed_str = reverse_string(input_str)    ## Reversing the string

print(reversed_str)

!dlroW ,olleH

In [62]:
## Q33

def max_three(a, b, c):
  return max(a, b, c)

result = max_three(8, 43, 65)
print(result)

65

In [67]:
## Q34

def factorial(n):       ## Initialize the result variable to 1
  result = 1
  for i in range(1, n+1):     ## Loop through numbers from 1 to n
    result*=i                 ## Multiply result by each number
    return result

  factorial(8)

In [68]:
## Q35

def multiply(a, b):      ## Defining a function
  return a*b            ## Multiplying the numbers

result = multiply(5, 3)    ## Calling the function
print(result)

15

In [69]:
## Q36

add = lambda x, y: x+y
print(add(8,9))

17

In [70]:
## Q37

square = lambda x: x**2
print(square(4))

16

In [72]:
## Q38

cube = lambda x: x**3
print(cube(3))

27

In [81]:
## Q39

list1 = [1, 2, 3, 4, 5, 6]
even_num = list(filter(lambda x: x%2==0, list1))
print(even_num)

[2, 4, 6]

In [79]:
## Q40

num_positive = lambda x: x>0

print(num_positive(9))
print(num_positive(-8))

True
False

In [80]:
## Q41

num = [1, 2, 3, 4]
result = list(map(lambda x: x*2, num))
print(result)

[2, 4, 6, 8]

In [82]:
## Q42

num2 = [1, 2, 3, 4, 5]
result2 = list(map(lambda x: x**2, num2))
print(result2)

[1, 4, 9, 16, 25]

In [83]:
## Q43

num3 = ['1', '2', '3']
result3 = list(map(int, num3))
print(result3)

[1, 2, 3]

In [88]:
## Q44

num4 = [1, 4, 9, 16]
result4 = list(map(lambda x: x**2, num4))
print(result4)

[1, 16, 81, 256]

In [89]:
## Q45

list2 = ['hello','world']
result5 = list(map(lambda x: x.upper(), list2))
print(result5)

['HELLO', 'WORLD']

In [90]:
## Q46

lst = [1, 2, 3, 4, 5]
result6 = list(filter(lambda x: x%2==0, lst))
print(result6)

[2, 4]

In [93]:
## Q47

lst = [1, 2, 3, 4, 5]
result7 = list(filter(lambda x: x>3, lst))
print(result7)

[4, 5]

In [94]:
## Q48

lst = ['Tom','Jack','Bob','Alice']
result8 = list(filter(lambda x: len(x)>3, lst))
print(result8)

['Jack', 'Alice']

In [95]:
## Q49

lst = [-1, -2, 3, 4, -5]
result9 = list(filter(lambda x: x<0, lst))
print(result9)

[-1, -2, -5]

In [98]:
## Q50

lst = [1, 2, 3, 4, 5, 6]
result10 = list(filter(lambda x: x%3==0, lst))
print(result10)

[3, 6]

In [101]:
## Q51

for i in range(1, 6):
  if i==3:
    break
  print(i)

1
2

In [102]:
## Q52

for i in range(1, 6):
  if i==3:
    continue
  print(i)

1
2
4
5

In [103]:
## Q53

for i in range(1, 6):
  if i>4:
    break
  print(i)

1
2
3
4

In [105]:
## Q54

for i in range(1, 11):
  if i%2==1:
    continue
  print(i)

2
4
6
8
10

In [106]:
## Q55

list = [1, 2, 3, -1, 4]
for i in list:
  if i<0:
    break
  print(i)

1
2
3

In [108]:
## Q56

fruits = ['apple','banana','cherry']
for index, value in enumerate(fruits):
  print(index, value)

0 apple
1 banana
2 cherry

In [109]:
## Q57

list = [(1, 'a'), (2, 'b'), (3, 'c')]
list1, list2 = zip(*list)              ## '*' is used to unzip the key, value pairs
print(list1)
print(list2)

(1, 2, 3)
('a', 'b', 'c')

In [125]:
## Q58

list1 = ['apple','banana']
list2 = [1, 2]
zipped = list(zip(list1, list2)) ## Combines two lists into key value pair
print(zipped)                  ##Output: [('apple':1,'banana':2)]

TypeError: 'list' object is not callable

In [117]:
## Q59

a = [1, 2, 3]
b = [4, 5, 6]

sum_list = [x+y for x, y in zip(a, b)]
print(sum_list)

[5, 7, 9]

In [118]:
## Q60

names = ['Summit','Raghav','Dinesh']

for index, name in enumerate(names):
  print(index, name)

0 Summit
1 Raghav
2 Dinesh